name: build

on: push

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup NodeJS
        uses: actions/setup-node@v1
        with:
          node-version: '18.2.0'

      - name: Upgrade npm
        run: npm i -g npm

      - name: Install Dependencies
        run: npm ci

      - name: Build
        run: npm run build

  test:
    runs-on: ubuntu-20.04
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup NodeJS
        uses: actions/setup-node@v1
        with:
          node-version: '18.2.0'

      - name: Upgrade npm
        run: npm i -g npm

      - name: Setup System
        uses: restorecommerce/setup-system-action@v1
        with:
          backing-only: true

      - name: Install Dependencies
        run: npm ci

      - name: Test
        run: npm run test && npm run lcov-report

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
